*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    width: 390px;
}

.container .header{
    text-align: center;
    margin-bottom: 20px;
}

.container .header header {
    font-weight: bold;
    letter-spacing: 2px;
}

.container .form input{
    width: 70%;
    padding: 2px;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
}

.container .form button {
    border: none;
    outline: none;
    padding: 2px;
    width: 79px;
    background-color: navy;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.task-details{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.task-added{
    display: flex;
    justify-content: space-between;
    width: 350px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 7px;
    margin-top: 10px;
    margin-left: 15px;
}

.task-added span{
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}

.task-added  i {
    font-size: 11px;
    cursor: pointer;
}

.task-tools .edit {
    color: navy;
}

.task-details::-webkit-scrollbar-track {
    background-color: transparent;
}

.task-details::-webkit-scrollbar {
    background-color: transparent;
}

.task-details::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.toast{
    position: absolute;
    right: 0;
    padding: 20px;
    top: 0;
    visibility: hidden;
    animation: show 2s ease-in-out;
    background-color: rgb(212, 212, 212);
    width: auto;
    height: 40px;
    display: flex;
    visibility: hidden;
    align-items: center;
    border-radius: 3px;
    color: red;
}

.hide{
    display: none;
}

@keyframes show {
    0%{
        visibility: hidden;
    }

    100%{
        visibility: visible;
    }
}

@keyframes hide{
    0%{
        visibility: visible;
    }

    100%{
        visibility: hidden;
    }
}
